{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/style-login.css') }}" crossorigin="" />
{% endblock %}

{% block container %}
<div class="form-container">

    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}



    <h1 class="text-center h1-login">Se connecter</h1>
    <a href="{{ path('app_register') }}" class="login-authentication text-center">Créer un compte</a>

    {% if error %}
        {% if error.messageKey == 'Votre compte est suspendu.' %}
        <span class="span__alert">
            <span class="form-error-message-login text-alert">{{ error.messageKey }}</span>
        </span>
        {% else %}
        <span class="span__alert">
            <span class="form-error-message-login text-alert">Ces identifiants sont incorrects.</span>
        </span>
        {% endif %}
    {% endif %}
        
    <form method="post" id="formLogin">

   
            
        <div class="form-group-login">
            <label for="inputEmail" id="labelEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control">
            <label for="inputPassword" id="labelPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <button class="btn form-submit-login" type="submit">
            S'identifier
        </button>
        </form>
</div>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}
   <script src="{{ asset('js/login.js') }}"> </script>
{% endblock %}
