{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Inscription {% endblock %}

{% block container %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="form-container">
<h1 class="text-center h1-register">Créer votre compte</h1>
<a href="{{ path('app_login') }}" class="authentication d-block text-center">Se connecter</a>

{{ form_start(registrationForm, { 'attr': {'autocomplete': 'off' } }) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.birthdate) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.agreeTerms) }}

<button type="submit" class="btn form-submit">S'enregistrer</button>
</div>


{{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/register.js') }}"> </script>
{% endblock %}