{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    
{% endblock %}

{% block container %}
    <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Inscription</h5>
            <form class="form-signin">
              
                   
        {{ form_start (registrationForm)  }}

              <div class="form-label-group">  
        {{ form_row(registrationForm.username) }}
    

        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password)  }}
        {{ form_row(registrationForm.agreeTerms) }}
        </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
     
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

