{% extends 'base.html.twig' %}

{% block stylesheets %}

<!-- Internal Stylesheet -->
{# <link rel="stylesheet" href="{{ asset('css/style-advanced-search.css') }}" crossorigin="" />
<link rel="stylesheet" href="{{ asset('css/style-nav-header.css') }}" crossorigin=""/> #}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/advanced-search.css') }}" crossorigin="" />

{% endblock %}

{% block container %}



<div id="form-advanced-search" class="form-advanced-search">
    <h1 class="text-center">Recherche filtrée</h1>
    <a href="{{ path('search') }}" class="search-redirection d-block text-center mb-0">Faire une recherche simplifiée</a>
    <p class="text-center">Sélectionnez vos critères préférés afin de trouver votre prochaine destination. Vous n'êtes pas obligé(e) de remplir tous les critères</p>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {#  <fieldset class="form-group  bg-light border">{{ form_widget(formSearch)}}</fieldset> #}
    {# id : advanced_search_search #}
     
        <fieldset class="form-group"> 
            {{ form_label(form.search) }} 
            {{ form_widget(form.search)}}
            <div id="search-error" class="search-error-hidden">Ce pays n'existe pas !</div>
            <template id="template__elt">
                <div class="card-country">
                    <a href="#" class="link-to-country stretched-link">
                        <div class="card-body-country"></div>
                    </a>
                </div>
            </template>
        </fieldset>

        <fieldset class="form-group">
            {{ form_label(form.startDate) }} 
            {{ form_widget(form.startDate) }}
        </fieldset>
        
        <fieldset class="form-group">
            {{ form_label(form.endDate) }} 
            {{ form_widget(form.endDate) }}
        </fieldset>

        <fieldset class="form-group">
            {{ form_label(form.language) }} 
            {{ form_widget(form.language) }}
        </fieldset>

        <fieldset class="form-group">
            {{ form_label(form.temperature) }} 
            {{ form_widget(form.temperature)}}
        </fieldset>

        <fieldset class="form-group">
            {{ form_label(form.cost) }} 
            {{ form_widget(form.cost)}}
        </fieldset>

        <fieldset class="form-group">
            {{ form_label(form.area) }} 
            {{ form_widget(form.area)}}
        </fieldset>

        <div class="form-checkboxes">
            <div class="flex-row-title">
                
                {{ form_label(form.landscape)}}
                {# {{ form_widget(form.landscape, {'attr': {'id': 'advanced-search-landscape'}})}} #}                          
                {{ form_label(form.sportingActivities)}}
                {# {{ form_widget(form.sportingActivities, {'attr': {'id': 'advanced-search-sporting-activities'}}) }} #}           
                {{ form_label(form.placesToVisit) }}
                {# {{ form_widget(form.placesToVisit) }} #}
                        
            </div>
            <div class="flex-row">
                {# {{ form_label(form.landscape)}} #}
                {{ form_widget(form.landscape, {'attr': {'id': 'advanced-search-landscape'}})}}                  
                {# {{ form_label(form.sportingActivities)}} #}
                {{ form_widget(form.sportingActivities, {'attr': {'id': 'advanced-search-sporting-activities'}}) }}
                {# {{ form_label(form.placesToVisit) }} #}
                {{ form_widget(form.placesToVisit) }}
                        
            </div>

        </div>
        <div class="buttons">
            <button class="btn form-reset">Réinitialiser</button>
            <button class="btn form-submit">{{ button_label|default('Rechercher') }}</button>
        </div>
        {{ form_end(form) }}

        <div id="search-results"></div>

</div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

  <script src="{{ asset('js/advanced-search.js') }}"> </script>

{% endblock %}