{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/style-city-show.css') }}" crossorigin="" />
{% endblock %}

{% block container %}
<p> Fiche de la ville {{ cityScore.name }} </p>


 {% for weather in city.weather %} 

 {# {{ dump(weather) }} #}

Température minimale : {{ weather.tempLevelMin }}

{% endfor %}

<img src="{{ image.photos[0].image.web }}" alt="Image de {{cityScore.name}}" </img> </br>

{{ urbanArea.categories[4].name }} : {{ urbanArea.categories[4].score_out_of_10 }} </br>
{{ urbanArea.categories[14].name }} : {{ urbanArea.categories[14].score_out_of_10 }} </br>
{{ urbanArea.categories[7].name }} : {{ urbanArea.categories[7].score_out_of_10 }} </br>
{{ urbanArea.categories[1].name }} : {{ urbanArea.categories[1].score_out_of_10 }} </br>
{{ urbanArea.categories[10].name }} : {{ urbanArea.categories[10].score_out_of_10 }} </br>
{{ urbanArea.categories[15].name }} : {{ urbanArea.categories[15].score_out_of_10 }} </br>
{{ urbanArea.categories[13].name }} : {{ urbanArea.categories[13].score_out_of_10 }} </br>


{{ urbanArea.summary }} </br>
{% for picture in images.results|slice(0,5) %}
<img src="{{ picture.urls.thumb}}" alt="Image de {{cityScore.name}}" </img>
{% endfor %}

{{ dump(images.results[0].urls)}}


{{ dump(city) }}
{{ dump(images) }}
{{ dump(image) }}
 {#
{{ dump(urbanArea) }}


#}


{% endblock %}

