<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('pictures/favicon.ico') }}" />
        <title>{% block title %} Dream Travel - Yo {% endblock %}</title>
       


     
        {% block stylesheets %}

            <!-- Font -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

            <!-- Stylesheet BOOTSTRAP -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

            <!-- Internals stylesheets" -->
            
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" crossorigin=""/>

        {% endblock %}

    </head>

    <body>
        {% block body %}
            {% block header %}
                <header>
                    <nav>
                        <ul>
                            <li><a href = "{{ path('search')}}"> Recherche simple</a></li>
                            <li><a href = "{{ path('advanced_search')}}"> Recherche avancée</a></li>
                            <li><a href = "#">  <img  class="logo" src="{{ asset('pictures/logo/logo.png') }}" alt="logo">
                            <li><a href = "#"> Groupe de voyage</a></li>
                            {% if app.user %}
                            <li><a href = "{{ path('app_logout')}}"> Deconnexion</a></li>
                            {% else %}
                            <li><a href = "{{ path('app_login')}}"> Se connecter</a></li>
                            <li><a href = "{{ path('app_register')}}"> S'inscrire</a></li>
                            {% endif %}
                            
                        </ul>
                    </nav>
                </header>
        
              
            {% endblock %}

            {% block container %}{% endblock %}

             {% block footer %}
                </main>
            </div>
            <footer class="mt-auto">
            <ul class="nav m-0">
                <li class="nav-item">
                <a class="nav-link active" href="">À propos</a> 
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">‎Mentions Légales</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
            </footer>
            {% endblock %}
      
        {% endblock %}

     
  </body>

     {% block javascripts %}
             <script src="{{ asset('../js/nav.js') }}"></script>
        {% endblock %}
</html>