<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('pictures/favicon.ico') }}" />
        <title>{% block title %} Dream Travel - {{ pageTitle }}{% endblock %}</title>
       


     
        {% block stylesheets %}

            <!-- Font -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

            <!-- Internals stylesheets" -->
            
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" crossorigin=""/>

        {% endblock %}

    </head>

    <body>
        {% block body %}
            {% block header %}
                <header>
                    <nav>
                        <ul>
                            <li><a href = "#"> Recherche simple</a></li>
                            <li><a href = "#"> Recherche avancée</a></li>
                            <li><a href = "#">  <img  class="logo" src="{{ asset('pictures/logo.png') }}" alt="logo">
                            <li><a href = "#"> Groupe de voyage</a></li>
                            <li><a href = "#"> S'inscrire</a></li>
                            <li><a href = "#"> Se connecter</a></li>
                        </ul>
                    </nav>
                </header>
        
              
            {% endblock %}

            {% block container %}{% endblock %}
      
        {% endblock %}

     
  </body>

     {% block javascripts %}
             <script src="{{ asset('../js/nav.js') }}"></script>
        {% endblock %}
</html>
