{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Page {{user.username}} {% endblock %}
{% block stylesheets %}

{{ parent() }}

<!-- Stylesheet GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Yeseva+One&display=swap"
  rel="stylesheet">

<!-- Stylesheet BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- Stylesheet FORK AWESOME -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
  integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

<!-- Stylesheet EMOJI CSS -->
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

 <link rel="stylesheet" href="{{ asset('css/style-city-view.css') }}" crossorigin="" />
 <link rel="stylesheet" href="{{ asset('css/style-user-show.css') }}" crossorigin="" />
{% endblock %}

{% block container %}
{# {% for badge in user.badge %}
{% dump(badge) %}
{% endfor %} #} 
{% dump(user) %}

<div class="userTemplate  {% if user != app.user %}userTemplate-no-nav{% endif %}">

  <aside class="left-side" id="left-aside">

    {% if app.user.id == user.id %}
    <div class="intern-nav-user">
      {{ include('user/_nav.html.twig') }}
    </div>
    {% endif %}


    {% set classeLike = '' %}
    {% if user != app.user %}
  
    {#Profil likés par l'utilisateur connecté#}
    {% for followTo in app.user.getFavoriteUser() %}
      {% if user.id == followTo.id %}
        {% set classeLike = 'em em-heart em-heart-user' %}
      {% else %}
        {% set classeLike = 'fa fa-heart-o fa-heart-user' %}
      {% endif %}
    {% endfor %}

    {% endif %}
    {#
    <div id="circleLike">
      <i class="{{ classeLike }} " style="font-size:100px;" aria-role="presentation"></i>
    </div>

    {% for row in user.users %}
    Utilisateurs qui ont aimé ce profil
    {{dump(row.name)}}
    {% endfor %}
    {% for row in user.favoriteUser %}
    Utilisateurs que le propriétaire du profil a liké
    {{dump(row.name)}}
    {% endfor %}
#}
    <div class="header-user-informations user-title">
      <span class="like user-like" data-like="" data-connecteduser="{{ app.user.id }}" data-targeteduser="{{ user.id }}">
          <i class="{{ classeLike }}" aria-role="presentation"></i>
      </span>
      <img src="{{ asset('pictures/avatars/' ~ user.avatar) }}" alt="Avatar de {{user.username}}" class="img-thumbnail" />
      {# displays the highest ROLE reached #}
      {% if 'ROLE_ADMIN' in user.roles %}
      <p class="mb-0 role">Administrateur</p>
      {% else %}
      {% if 'ROLE_MODERATOR' in user.roles %}
      <p class="mb-0 role">Modérateur</p>
      {% else %}
      <p class="mb-0 role">Utilisateur</p>
      {% endif %}
      {% endif %}

      {# displays the highest level badge reached #}
      {% set badgeLevel = [] %}
      {% for key, badge in user.badge %}
      {% set badgeLevel = badgeLevel|merge([badge.badgeString]) %}
      {% endfor %}
      {% for badge in user.badge %}
      {% if badge.badgeString == max(badgeLevel) %}
      <p class="mb-0 badge-title">{{ badge.label }}&nbsp;&nbsp;<i class="fa fa-plane" aria-hidden="true"></i></p>
      <p><img src="{{ asset('pictures/badges/' ~ badge.filename ~ '.svg' ) }}" class="user-badge" alt="Badge {{ badge.label }}" /></p>
      {% endif %}
      {% endfor %}

      <p class="mb-0 points">{{ user.points|default(5) }} points</p>
    </div>


    <h1 id="h1-user">{{user.username}}</h1>
    <div class="user-basic-datas">
      <p class="inscription-date"><em>Inscrit depuis {{user.createdAt.date|date("d/m/Y")}}</em></p>

      {% set difference = date(user.birthdate|date("Y/m/d")).diff(date('now'|date('Y/m/d'))) %}
      {% set days = difference.days/365 %}
      <p>{{ days|round(0, 'floor')}} ans</p>
      <p class="mb-0"><strong>Langues parlées</strong></p>
      <div class="tags-container">
        <ul class="tags-list-language p-0">

          {% for language in user.language %}
          <li><span class="badge badge-pill badge-secondary badge-tag">{{ language.label }}</span></li>
          {% else %}
          <li><span class="badge badge-pill badge-secondary badge-tag">Français</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </aside>

  <div id="center-div">
    <h2 class="text-center mt-0">Présentation</h2>

    <p class="user-description text-justify">
      {{ user.description|nl2br }}
    </p>

    <div class="tags-container">
      <ul class="tags-list p-0">
        {% for favoriteCity in user.likes %}
        <li><span class="badge badge-pill badge-secondary badge-tag"> {{ favoriteCity.city.cityName }}</span></li>
        {% else %}
        {% endfor %}
      </ul>
    </div>

    <hr class="hr-user-description">
  </div>

  <aside class="right-side" id="right-aside">
    <h2 class="text-center">Galerie Photo</h2>

    <div id="carouselExampleIndicators" class="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="user-pictures text-center img-gallery">
            {% for rev in user.reviews %}
            {% for image in rev.picture %}
            <img src="{{ asset('images/uploads/' ~ image.filename ) }}" alt="Image de {{user.username}}"
              class="img-thumbnail img-carousel" />
            {% endfor %}
            {% else %}
            <p class="text-center"><em>L'utilisateur n'a pas encore posté de photos !</em></p>
            {% endfor %}

          </div>
        </div>
       {#  <div class="carousel-item">
          <div class="city-pictures text-center">
            <div class="city-pictures text-center img-gallery">
              <img src="{{ asset('images/paris.jpeg') }}" alt="Image de {{user.username}}"
                class="img-thumbnail img-carousel" />
            </div>
          </div>
        </div> #}
      </div>
    {#   <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol> #}
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      {#  <div id="caption"></div> #}
    </div>


    <hr class="hr-user-description">

    <h2 class="text-center">Avis publiés</h2>
    <div class="review-div">
      <!-- Beginning Caroussel -->
      <div id="carouselExampleIndicators-review" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">


            {% for review in user.reviews %}
            {% dump (review) %}

            <div class="accordion review-accordion" id="accordion-{{ review.id }}">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <p class="report-button  m-0 text-right">
                    <a class="report-button py-0 m-0" data-toggle="collapse" href="#signal-{{ review.id }}"
                      role="button" aria-expanded="false" aria-controls="collapseExample">
                      ...
                    </a>
                  </p>
                  <div class="collapse text-center text-danger report-message mx-0" id="signal-{{ review.id }}">
                    <span class=""><a href="#"> <i class="em em-no_entry" aria-role="presentation"
                          aria-label="NO ENTRY"></i>Avis inapproprié, je signale!</a></span>
                  </div>

                  {% set difference = date(review.createdAt|date("Y/m/d")).diff(date('now'|date('Y/m/d'))) %}
                  {% set leftDays = difference.days %}

                  <h4 class="card-badge"> </h4>
                  <h4 class="h4-review"><em>Avis publié il y a {{ leftDays }} jour{% if leftDays > 1 %}s{% endif %}</em>
                  </h4>
                  <h4>
                    <strong class="mr-2">Appréciation</strong>

                    {% set rateCircleFull = '<i class="fa fa-circle" aria-hidden="true"></i>' %}
                    {% set rateCircleEmpty = '<i class="fa fa-circle-thin" aria-hidden="true"></i>' %}
                    {% for i in 1..5 %}
                    {% if i <= review.rate  %}
                    {{ rateCircleFull|raw }}
                    {% else %}
                    {{ rateCircleEmpty|raw }}
                    {% endif %}

                    {% endfor %}

                  </h4>
                  <h4 class="h4-review"><strong>Ville visitée: </strong>{{ review.city.cityName }}</h4>
                  <h4 class="h4-review"><strong>Le:
                    </strong>{{review.travelDate|format_datetime('full', 'none',locale='fr') }}</h4>

                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center btn-see-more" type="button" data-toggle="collapse"
                      data-target="#collapse-{{ review.id }}" aria-expanded="true" aria-controls="collapseOne">
                      Voir plus...
                    </button>
                  </h2>
                </div>

                <div id="collapse-{{ review.id }}" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordion-{{ review.id }}">
                  <div class="card-body">

                    <!-- Default dropleft button -->
                    <p class="card-text text-justify">
                      {{ review.text }}
                    </p>

                    <div class="review-votes d-flex justify-content-end">
                      <span class="review-vote like" data-reviewid="{{ review.id }}" data-rate="10">
                        <span id="span-rate">10</span>
                        <i id="full-heart-{{ review.id }}" class="fa fa-heart-o" aria-role="presentation"></i>
                      </span>
                    </div>

                    <div class="user-pictures text-center">
                      {% for picture in review.picture %}
                      <img src="{{ asset('images/uploads/' ~ picture.filename) }}"
                        alt="Image de {{review.city.cityName}} postée par {{ review.user.username }}."
                        class="user-image">
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <p class="text-center"><em>Il n'y a pas encore d'avis !</em></p>
            <!-- CONDITION A METTRE SI L'UTILISATEUR N'A PAS ENCORE PUBLIE D'AVIS -->
            {% endfor %}
          </div>
        </div>
      </div>
    {#   <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators-review" data-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators-review" data-to="1"></li>
        <li data-target="#carouselExampleIndicators-review" data-to="2"></li>
      </ol> #}

      <!-- End Caroussel -->
    </div>

</div>
</aside>

{% endblock %}
{% block javascripts %}

{% endblock %}
